* {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;

}

.cover {
    background-image: url(./assets/img/tortawide.jpg);
    background-repeat: no-repeat;
    background-position: center;
    height: 500px;

    h1{
        color: white;
        font-size: 40px;
        margin-left: 30px;
        font-weight: bold;
        
    }   
    
    h3{
        font-size: 15px;
        color: rgba(255, 255, 255, 0.801);
        margin-left: 30px;
    }

    a {
        margin-top: 5px;
        background-color: #C11E23;
        border-color: #C11E23;
        margin-left: 30px;
    }
}

.textohistoria{

    h4{
        font-size: 15px;
        color: gray;
          }

    h2{
        font-weight: bold;

          }

    p{
        color: gray;

    }


}

.textproducts{
    h2{
        font-weight: bold;
        text-align: center;
        font-size: 27px;
    }

    p{
        text-align: center;
        font-size: 12px;
        font-weight: bold;
        color: gray;
    }
}

.backcolor{
    padding: 12px 0px 12px 0px;
    background-color: rgba(201, 201, 201, 0.11);
}

.cover2 {
    background-image: url(./assets/img/heladowide.jpg);
    background-repeat: no-repeat;
    background-position: center;
    height: 500px;

    h1{
        color: white;
        font-size: 40px;
        margin-left: 30px;
        font-weight: bold;
        
    }   
    
    h3{
        font-size: 15px;
        color: rgb(243, 243, 243);
        margin-left: 30px;
    }

    button {
        margin-top: 5px;
        background-color: #C11E23;
        border-color: #C11E23;
        margin-left: 30px;
    }
}

.card{
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;

}

.btn{
    background-color: #C11E23;
    border-color: #C11E23;
}



/* CONTACT */

.textcontact{

    h2{
        font-weight: bold;
        text-align: center;
        font-size: 34px;
        margin-bottom: 0px;
    }

    p{
        text-align: center;
        font-size: 12px;
        font-weight: bold;
        color: gray;
    }
}

.red-color {
    color:red;
}

/* HELADOS */

.container div {
    line-height: 30px;
    
    ul{
    list-style: none;
    margin-top:15px;
    font-style: bold;

    li{
        font-weight: 450;
    }
    
}

.strong{
    font-weight: bold;
    color: #C11E23;
}

}

.ingredientes{
    margin-top: -20px;
    font-weight: 400;
}
.ingredientes2{
    margin-top: -20px;
    font-weight: 400;
    font-size: 11px;
}

.backgustos{
    background-image: url(./assets/img/fondo.png);
    background-size: contain;
}




@media (max-width: 991px) {

    nav img {
        width: 100px;
    }

    
    .cover{
        background-size: cover;
        background-position: 60%;

        h1{
            font-size: 30px;
        }
        
        
    }

    .col-3{
        width: 250px;

    }

    .cover2{
        background-position: 90%;
    h1{
        font-size: 30px;
    }
    }

    .flexproducts {
        margin-left: 40px;
    }

 } 

@media (max-width: 746px) {



}













